:root {
  --vzw: #cd040b;
  --att: #00A8E0;
  --tmo: #EC0075;
  --google-blue: #4285F4;
  --google-red: #de5246;
  --google-green: #0F9D58;
  --white: #fff;
  --black: #000;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 8rem;
}
h2 {
  font-size: 7rem;
}
h3 {
  font-size: 6rem;
}
h4 {
  font-size: 5rem;
}
h5 {
  font-size: 4rem;
}
h6 {
  font-size: 3rem;
}

p,
a,
label,
input,
textarea,
select,
option,
button,
tr,
td,
span {
  font-size: 2rem;
}

.Button,
.Button--variant-text {
  border: 1px solid transparent;
  border-radius: 1rem;
  color: var(--google-blue);
  background-color: transparent;
  padding: .5rem 1rem;
}

.Button--variant-contained {
  border-color: var(--google-blue);
  border-radius: 1rem;
  background-color: var(--google-blue);
  color: var(--white);
  padding: .5rem 1rem;
}

.Button--variant-outlined {
  border-color: var(--google-blue);
  border-radius: 1rem;
  background-color: var(--white);
  color: var(--google-blue);
  padding: .5rem 1rem;
}